version: 2
updates:
  - package-ecosystem: "pip" # See documentation for possible values
    cooldown:
      default-days: 10 # Fallback cooldown if no specific rule applies
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
    groups:
       dev-dependencies:
          patterns:
            - "*"

  - package-ecosystem: "github-actions"
    cooldown:
      default-days: 10 # Fallback cooldown if no specific rule applies
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
       action-deps:
          patterns:
            - "*"